# Go vendor
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/build/monitowall*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.txt

# Intellij
.idea
*.iml

# Other
.DS_Store

# Config
config.yml
config.json
config.toml
